# Build a linear model with estimators
***

In [1]:
import tensorflow as tf

In [2]:
import tensorflow.feature_column as fc

import os
import sys

import matplotlib.pyplot as plt
from IPython.display import clear_output

In [3]:
tf.enable_eager_execution()

## Download official implementation
***

! conda install -q requests ***(Install this through conda instead)***

In [4]:
! git clone --depth 1 https://github.com/tensorflow/models

fatal: destination path 'models' already exists and is not an empty directory.

In [5]:
models_path = os.path.join(os.getcwd(), 'models')

sys.path.append(models_path)

In [6]:
from official.wide_deep import census_dataset
from official.wide_deep import census_main

census_dataset.download("/tmp/census_data")

#### Command line usage

In [7]:
#export PYTHONPATH=${PYTHONPATH}:"${pwd}/models"

if "PYTHONPATH" in os.environ:
    print ("'PYTHONPATH' is in os.environ ")
    os.environ['PYTHONPATH'] += os.pathsep + models_path
else:
    print ("'PYTHONPATH' was not in os.environ ")
    os.environ['PYTHONPATH'] = models_path

'PYTHONPATH' was not in os.environ

In [8]:
#!python -m official.wide_deep.census_main --help

In [9]:
#!python -m official.wide_deep.census_main --model_type=wide --train_epochs=2

## Read US Census Data
***

In [12]:
train_file = "/tmp/census_data/adult.data"
test_file = "/tmp/census_data/adult.test"

In [13]:
import pandas

In [14]:
train_df = pandas.read_csv(train_file,
                           header=None,
                           names=census_dataset._CSV_COLUMNS)
test_df = pandas.read_csv(test_file,
                          header=None,
                          names=census_dataset._CSV_COLUMNS)

In [15]:
train_df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

These features are both categorical and continuous

## Converting Data into Tensors
***